*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(35, 33, 33);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 0;
}

header .search {
  margin-right: 100px;
  outline: none;
  border-style: none;
  border-radius: 10px;
  text-align: center;
  height: 25px;
  font-weight: 900;
}

#search-icon {
}
